{% extends 'base.html' %}

{% block titulo-da-aba %}Cadastro de livros{% endblock %}

{% block conteudo-da-pagina %}

<h1>Cadastro de livros</h1>

<form action="{% url 'cadastro' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Digite o título do livro">
    </div>
    <div class="mb-3">
        <label for="autor">Autor:</label>
        <select name="autor" id="autor" class="form-select">
            <option value="" selected>Selecione o autor do livro</option>
            {% for autor in autores %}
            <option value="{{ autor.id }}">{{ autor.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="data_publicacao">Data de publicação:</label>
        <input type="date" class="form-control" id="data_publicacao" name="data_publicacao">
    </div>
    <div class="mb-3">
        <label for="valor">Valor:</label>
        <input type="text" class="form-control" id="valor" name="valor" step="0.01" placeholder="Digite o valor do livro">
    </div>
    <div class="mb-3">
        <label for="status">Status:</label>
        <select name="status" id="status" class="form-select">
            <option value="" selected>Selecione o status do livro</option>
            <option value="1">Disponível</option>
            <option value="0">Indisponível</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="imagem">Imagem:</label>
        <input type="file" class="form-control" id="imagem" name="imagem">
    </div>
    <button type="submit" class="btn btn-outline-success">
        <i class="fas fa-plus"></i>  Cadastar
    </button>
</form>

{% endblock %}