{% extends 'base.html' %}

{% block conteudo-da-pagina %}

<h1>Cadastro de livros</h1>

<form action="{% url 'cadastro_de_livros' %}" method="post">

    {% csrf_token %}
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite o titulo" name="titulo">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Data de publicação</label>
        <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Selecione a data" name="data_publicacao">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">Autor</label>
        <select class="form-select" aria-label="Default select example" name="autor_id">
            <!-- <option selected>Selecione o autor</option> -->
            {% for autor in autores %}
            <option value="{{ autor.id }}">{{ autor.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>

{% endblock %}