{% extends 'base.html' %}

{% block titulo-da-aba %}Livros{% endblock %}

{% block conteudo-da-pagina %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Data de publicação</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.data_publicacao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}